@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
}
#page-wrapper {
  position: relative;
}
ul {
  display: flex;
  justify-content: space-around;
}
li {
  list-style: none;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0;
}
a {
  color: #000;
  text-decoration: none;
}
@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

header {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}
@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

#header-img {
  width: 400px;
  text-align: center;
  margin: 0 0 0 20px;
}
@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

.nav-link {
  font-size: 20px;
  padding: 0 100px;
}
@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}
@media (max-width: 650px) {
  #hero {
    margin-top: 120px;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0px 0px;
}
h2 {
  font-size: 35px;
}
p {
  font-size: 20px;
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#email {
  width: 400px;
  height: 40px;
  padding: 5px;
  margin: 20px 0;
  border-width: 2px;
  background-color: #fff;
  border-color: #767676;
  border-style: inset;
  font-size: 15px;
}
#submit {
  font-size: 20px;
  font-weight: 900;
  max-width: 200px;
  width: 100%;
  height: 40px;
  border-width: 0;
  background-color: #f1c40f;
  border-radius: 2px;
}
.container {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}
#features {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
}
.grid {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}
@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

.icon {
  width: 20vw;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff8c00;
}
.desc {
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}
@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}
@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}
#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#video {
  width: 100%;
  max-width: 560px;
}
#pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  padding: 0px 10px;
}
@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.product {
  width: calc(100% / 3);
  text-align: center;
  align-items: center;
  border: 1px solid;
  border-radius: 3px;
  margin: 10px;
}
.product > .level {
  background-color: #ddd;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 0;
}
.product > h2 {
  margin-top: 20px;
}
.product > ol > li {
  margin: 10px 0;
  padding: 5px 0;
}
.product > .btn {
  background-color: #f1c40f;
  font-size: 20px;
  height: 40px;
  border-radius: 2px;
  margin: 15px 0;
  padding: 0 30px;
  text-transform: uppercase;
  text-align: center;
  border-width: 0px;
}
.product > .btn:hover {
  background-color: #ffa500;
  transition: background-color 1s;
}

footer {
  background-color: #ddd;
  margin: 30px 0 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer > ul > li {
  font-size: 20px;
  padding: 0 10px;
}
footer > span {
  color: #444;
  font-size: 20px;
  margin: 5px 0 0;
}
